.header
{
	margin-top: 20px;
	border: 1px blue solid;
	text-align: center;
	border-radius: 25px;
	
}

.content
{
	margin-top: 20px;
	border: 1px blue solid;
	border-radius: 25px;
	padding-top: 10px;
	font-size: 20px;
	color: blue;
}

.btn
{
	margin: 10px;
}

.header
{
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	color: blue;
}

.footer
{
	margin-bottom: 20px;
	margin-top: 20px;
	border: 1px blue solid;
	text-align: center;
	border-radius: 25px;
	font-size: 20px;
	
}

th, .centerd
{
	text-align: center;
	vertical-align: middle; 
}